.App {
  text-align: center;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  font-family: 'Trebuchet MS', 'Lucida SanFs Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Box {
  display: flex;
}

.Graph-Container {
  padding-left: 5%;
  padding-right: 5%;
  width: 80%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-right: 1%;
}

.Paragraph {
  text-align: left;
  background-color: white;
  border-radius: 10px;
  padding-top: 1%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-bottom: 1%;
  width: 20%;
}

.Link {
}